.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

@media only screen and (min-width: 600px) {
  .home-header {
      width: 85%;
  }
}

.home-header-card {
  width: 100%;
  padding: 1rem;
}

.home-header-card-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.tab-wrapper {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .tab-wrapper {
      width: 85%;
  }
}
