.projects-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact-wrapper {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
}

.card-text-item {
  display: flex;
  flex-flow: row nowrap;
  color: darkgray;
  height: 1rem;
  margin-left: 3%;
}

.masonry {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

.project-card {
  width: 100%;
  margin: 0;
  /* width: 22%; */
}

@media only screen and (min-width: 600px) {
  .project-card {
      width: 50%;
  }
}

@media only screen and (min-width: 960px) {
  .project-card {
      width: 30%;
      margin: 1rem;
  }
}

.card-link {
  color: inherit;
  text-decoration: none;
  margin: 0.25rem;
}

.project-links {
  display: flex;
  flex-flow: column nowrap;
}

.filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

@media only screen and (min-width: 960px) {
  .info-wrapper {
    flex-flow: row nowrap;
  }
}

.info-button {
  width: 10rem;
  margin: 2rem;
}